* {
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle, rgba(244, 246, 255, 1) 0%, rgba(255, 255, 255, 0.9249824929971989) 29%, rgba(63, 94, 251, 1) 99%);
}

.container {
    width: 480px;
    height: 460px;
    background: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 30px 10px rgb(0 0 0 / 0.4);
}
.containersignup {
    height: 340px;
}
/* Form */
form {
    width: 90%;
}

.inputs {
    height: 65px;
}


input {
    width: 100%;
    height: 34px;
    padding: 5px;
    border: solid 1px black;
    border-radius: 5px;
    outline: none;
   
}

input:valid {
    border: solid 2px green;
}

button {
    cursor: pointer;
    color: white;
    background: black;
    border: none;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 5px;
}

button:hover {
    filter: brightness(200%);
    background: rgb(22, 22, 22);
}

button:focus {
    outline: none;
}

