* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.title {
    background: none;
}
.side {
    width: 81px;
}

body {
    background-color: #edf6f9;
    font-family: 'Andika New Basic', sans-serif;
    color: #2f3e46;
}

.container {
    width: 100%;
    height: 67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.calcul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    max-width: 700px;
    margin: 1rem 0 3rem;
}

.number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
}

.amount-container {
    display: flex;
}

#amount-earned,
#total-earn {
    color: #43aa8b;
}

#amount-spent,
#total-spent {
    color: #bc4749;
}

.inputs input {
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}

.inputs #description {
    width: 330px;
}

.inputs #amount {
    width: 120px;
    text-align: center;
}


.buttonss {
    margin: 10px 0 3rem;
}

.buttonss #add-income, .buttonss #add-expense, .buttonss #delete {
    border: none;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
}

#add-income {
    background-color: #43aa8b;
}

#add-expense {
    background-color: #bc4749;
}
#delete {
    background-color: #114178;

}
.items-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 70%;
    max-width: 700px;
}

#income-list h2 {
    color: #43aa8b;
}

#expenses-list h2 {
    color: #bc4749;
}

.items-list .container {
    width: 49%;
    border-radius: 15px;
}

.container .item {
    width: 100%;
    background-color: white;
    border-radius: 15px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 30px;
    position: relative;
}

.income span,
.income p {
    color: #43aa8b;
}

.expense span,
.expense p {
    color: #bc4749;
}

.item .far {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #bc4749;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    transform: translateX(30px);
    opacity: 0;
}

.item:hover .far {
    animation: showDelete;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
#expenses-list div, #income-list div{
    display: flex;
    gap:40px;
    border: 1px solid #373b37;
    border-radius: 8px;
    width: 300px;
    margin-top: 20px;
    
}
#container, div{
    border: none;
    padding: 10px;
    border-radius: 15px;
    outline: none;
}