main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.title {
    background: none;
}
.firstcard,
.card-standard,
.card-premium {
    margin: 0 2rem 1rem 0;
    padding: 0 0 0.5rem 0;
    width: 15rem;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(51, 51, 51, 0.2);
    overflow: hidden;
}

.firstcard:hover,
.card-standard:hover,
.card-premium:hover {
    transform: scale(1.02);
}

.card-header {
    height: 5rem;
    font-weight: 700;
    font-size: 0.8rem;
    padding: 1rem 0;
    color: #fff;
}

.header-basic,
.btn-basic {
    background: linear-gradient(135deg, rgb(0, 119, 238), #06c766);
}

.header-standard,
.btn-standard {
    background: linear-gradient(135deg, #b202c9, #cf087c);
}

.header-premium,
.btn-premium {
    background: linear-gradient(135deg, #eea300, #ee5700);
}

.card-body {
    padding: 0.5rem 0;
}

.card-body h2 {
    font-size: 2rem;
    font-weight: 700;
}

.card-element-container {
    color: #444;
    list-style: none;
}

.btn {
    margin: 0.5rem 0;
    padding: 0.7rem 1rem;
    outline: none;
    border-radius: 1rem;
    font-weight: 700;
    color: #fff;
    border: none;

}

.card-element-hidden {
    display: none;
}